{% extends "layout.html" %}

{% block title %}Contact page{% endblock %}

{% block content %}
<h1>I am the contact page</h1>

<form action="#" method="post">
    {{ form_widget(form) }}

    <input type="submit" name="submit">
</form>

{% endblock %}
