{% extends "layout.twig" %}

{% block title %}Contact page{% endblock %}

{% block content %}
<h1>I am the contact page</h1>

<form action="#" method="post">
    {{ form_widget(form, {'attr': { 'class': 'contact'}}) }}

    <input type="submit" class="btn btn-default submit" name="submit">
</form>

{% endblock %}
